[Unit]
Description=CSGO UPDATER
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/csgo_autoupdater
ExecStart=/home/admin/.local/share/virtualenvs/csgo_autoupdater-I4AWUcmO/bin/python /opt/csgo_autoupdater/run.py
Restart=always

[Install]
WantedBy=multi-user.target